.FloatButton {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--float-button-bg);
    border-radius: 50%;
    position: fixed;
    right: 16px;
    bottom: 16px;

    .icon {
        width: 24px;
        height: 24px;
        fill: var(--float-button-text);
    }
}