.button {
    width: 100%;

    &_wrapper {
        padding: 16px 16px;
    }

    background: var(--button-bg-color)
}

.pig {
    width: 128px;
    height: 128px;

    &_wrapper {
        padding: 128px 0;
    }
}